body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #222831;
    background: rgb(174,208,238);
    background: radial-gradient(circle, rgba(174,208,238,0.3417016464789041) 0%, rgba(235,238,183,0.29968483975621496) 100%);
}

a {
    text-decoration: none;
    color: #222831;
}

button {
    background-color: rgb(174,208,238);
    color: #222831;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: rgba(228, 195, 152, 0.8);
}